@import "tailwindcss";

@theme {

--font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #C8102E;
  --color-primary-dark: #a50d25;
  --color-primary-light: #e8304a;

  --color-secondary: #004ca5;
  --color-secondary-dark: #003880;
  --color-secondary-light: #1a65c0;

  --color-surface: #f0f4eb;
  --color-sidebar: #ffffff;
  --color-sidebar-hover: #23272f;
}
button{
  cursor: pointer;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
